@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bangers|Libre+Baskerville&display=swap');


#picture {
    background :url("../images/pbridge.jpg");
      background-position: center;

     background-repeat: no-repeat;

     background-size: cover;
}
#bath {
    background-color: #b4edab;
}
h2 {
    font-family:Libre Baskerville;
}