@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
#picture {
    background-image: url("../images/pbridge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
}
.nav-item {
    padding: 8px;
    color: #ffffff;
    background-color: #468b75;
    font-family: Roboto;
    border-style: outset;
    width: 8em;
    margin-left: 3em;
    text-align: center;
}
.nav-item a :hover,
.nav-item a :active {
    border-style: inset;
    color: yellow;
}
.jumbotron {
    background-color: #b4edab;
    width:50%;
    border-radius:50px;
    margin-top:30px;
    margin-bottom:30px;
   }
h1 {
    font-family: Libre Baskerville;
    text-decoration: underline;
    text-align:center;
}
.main {
    font-size: 1.5em;
}
p {
    font-size: 1.5em;
}
#jan {
    background-image:url("../images/assembly.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide {
    background-color:#FFE761;
  }
img {
    width:70%;
}
h2 {
    font-family: Libre Baskerville;
    text-decoration: underline;o
    text-align:center;
    font-size:1.5em;
    }
 #but {
        width:5%;
        padding:25%;
        background-color:#b4edab;
        color:white;
        font-size:25px;
        margin-top:10px;
    }
  